@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100,200,300,400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #FFFFFF;
  /* font-family: "Rubik", sans-serif; */
}

body {
  max-width: 1440px;
  padding: 0 8%;
  @apply mx-auto
}

::-webkit-scrollbar {
  display: none;
}